<footer>

    <div class="footer-container">
  
  
      <div class="footer-logo">
  
  
        <p class="footer-title">
          PROSPERACTS <br>
          ACCOUNTANTS
        </p>
  
  
        <svg class="footer-icon"
             viewBox="52 20 96 160"
             width="450"
             height="450">
  
          <path 
            d="M116 20h32v32h-32V20zm0 64V52H52v64h32v32H52v32h32v-32h64V84h-32zm0 0v32H84V84h32z"
            fill="#090F15">
          </path>
  
  
        </svg>
  
  
      </div>
  
  
  
  
      <div class="footer-info">
  
  
        <div class="footer-block">
  
  
          <ul>
  
            <li>123-456-7890</li>
  
            <li>
              info@mysite.com
            </li>
  
  
            <br>
  
  
            <li>
              <a class="link"
                 href="https://maps.app.goo.gl/9HbNvuhWLxZbSKKh8"
                 target="_blank">
  
                500 Terry Francine St. San Francisco, CA 94158
  
              </a>
            </li>
  
  
          </ul>
  
  
        </div>
  
  
  
  
  
        <div class="footer-block">
  
  
          <ul class="policy">
  
            <li>
              Privacy Policy
            </li>
  
  
            <li>
              Accessibility Statement
            </li>
  
  
          </ul>
  
  
        </div>
  
  
  
  
  
        <div class="footer-copy">
  
  
          © 2035 by Business Name.
          Powered and secured by
  
          <a class="link"
             href="https://www.wix.com/"
             target="_blank">
  
            Wix
  
          </a>
  
  
        </div>
  
  
  
      </div>
  
  
    </div>
  
  
  </footer>