<section id="ace" class="acc">
    <h1 class="text-start ds77 text-white pt-3">ACCOUNTING EXPERTISE</h1>
  
  <div class="tbl">
    <div class="box1">
      <h3>TAX SERVICES</h3><hr class="hr1">
      <p>Our tax services ensure compliance and help you optimize your tax strategy. 
        We provide expert advice on tax planning, returns, and deductions, tailored to your specific needs</p>
    </div>
    <div class="box1">
      <h3>BOOKKEEPING</h3><hr class="hr1">
      <p>Stay organized and informed with our professional bookkeeping services. 
        We manage your financial records accurately, giving you peace of mind and time to focus on growing your business.</p>
    </div>
    <div class="box1">
      <h3>PAYROLL MANAGEMENT</h3><hr class="hr1">
      <p>Let us handle your payroll management efficiently. 
        We ensure timely and accurate payroll processing, compliance with regulations, and smooth payroll operations for your business.</p>
    </div>
    <div class="box1">
      <h3>FINANCIAL REPORTING</h3><hr class="hr1">
      <p>Get clear and concise financial reports to make informed decisions. 
        Our detailed financial reporting services provide insights into your business's performance and financial standing.</p>
    </div>
  </div>
</section>


<section id="tpa" class="container-fluid">
  <div class="tbl2">
    <div class="box3"><h1 id="x1" class="text-start p-5 pt-1">THE PROSPER ADVANTAGE</h1><div id="cvb" class="text-wrap p-5 pt-1">
      <p>This is the space to introduce visitors to the business or brand. 
      Briefly explain who's behind it, what it does and what makes it unique. Share its core values and what this site has to offer.</p>
    </div><hr class="hr1"></div>
    <div class="box2"><svg class="icon" preserveAspectRatio="xMidYMid meet" data-bbox="48.6 20 102.8 160" viewBox="48.6 20 102.8 160" height="100" width="100" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-label=""><defs><style>#comp-m4tthkvu16 svg [data-color="1"] {fill: #090F15;}</style></defs>
    <g>
        <path d="M117.1 20v11.4h-11.4V20h11.4zm11.5 22.9h-11.4V31.4h11.4v11.5zm0 0H140v11.4h-11.4V42.9zm0 22.8V54.3h-80v11.4h80zm22.8-11.4v11.4H140V54.3h11.4zM82.9 100v11.4H71.4v11.4H60v11.4H48.6v11.4H60V157h11.4v11.4h11.4V180h11.4v-11.4H82.9v-11.4H71.4v-11.4h80v-11.4h-80V123h11.4v-11.4h11.4V100H82.9zm-11.5 34.3v11.4H60v-11.4h11.4zm45.7-34.3V88.6h11.4V77.1H140V65.7h-11.4v11.4h-11.4v11.4h-11.4V100h11.3z" fill-rule="evenodd" clip-rule="evenodd" fill="#000000" data-color="1"></path>
    </g>
</svg><div id="arrows" class="text-wrap text-start ms-auto"><h3 class="x2">WIDE RANGE OF SERVICES</h3><p>This is the space to introduce visitors to the business or brand. Briefly explain who's behind it, what it does and what makes it unique. 
  Share its core values and what this site has to offer.</p></div><hr class="hr1"></div>
    <div class="box2"><svg class="icon" preserveAspectRatio="xMidYMid meet" data-bbox="20 34.5 160 130.9" viewBox="20 34.5 160 130.9" height="100" width="100" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-label=""><defs><style>#comp-m4tyn7sf svg [data-color="1"] {fill: #090F15;}</style></defs>
    <g>
        <path fill="#000000" d="M165.4 49.1v14.5h-14.5V49.1h14.5z" data-color="1"></path>
        <path fill="#000000" d="M49 49.1v14.5H34.5V49.1H49z" data-color="1"></path>
        <path fill="#000000" d="M165.5 63.6v29.1H180V63.6h-14.5z" data-color="1"></path>
        <path fill="#000000" d="M34.5 63.6H20v29.1h14.5V63.6z" data-color="1"></path>
        <path fill="#000000" d="M165.4 92.7v14.5h-14.5V92.7h14.5z" data-color="1"></path>
        <path fill="#000000" d="M150.9 107.3v14.5h-14.5v-14.5h14.5z" data-color="1"></path>
        <path fill="#000000" d="M136.3 121.8v14.5h-14.5v-14.5h14.5z" data-color="1"></path>
        <path fill="#000000" d="M121.8 136.4v14.5h-14.5v-14.5h14.5z" data-color="1"></path>
        <path fill="#000000" d="M107.2 150.9v14.5H92.7v-14.5h14.5z" data-color="1"></path>
        <path fill="#000000" d="M78.1 121.8v14.5H63.6v-14.5h14.5z" data-color="1"></path>
        <path fill="#000000" d="M92.7 136.4v14.5H78.2v-14.5h14.5z" data-color="1"></path>
        <path fill="#000000" d="M49 92.7v14.5H34.5V92.7H49z" data-color="1"></path>
        <path fill="#000000" d="M63.6 107.3v14.5H49.1v-14.5h14.5z" data-color="1"></path>
        <path fill="#000000" d="M136.4 49.1h14.5V34.5h-43.6v14.6h29.1z" data-color="1"></path>
        <path fill="#000000" d="M78.2 49.1h14.5V34.5H49.1v14.6h29.1z" data-color="1"></path>
        <path fill="#000000" d="M107.2 49.1v14.5H92.7V49.1h14.5z" data-color="1"></path>
    </g>
</svg><div id="arrows" class="text-wrap text-start ms-auto"><h3 class="x2">CLIENT-FOCUSED APPROACH</h3><p>This is the space to introduce visitors to the business or brand. Briefly explain who's behind it, what it does and what makes it unique. 
  Share its core values and what this site has to offer.</p></div><hr class="hr1"></div>
    <div class="box2"><svg class="icon" preserveAspectRatio="xMidYMid meet" data-bbox="25.5 20 149 160" viewBox="25.5 20 149 160" height="100" width="100" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-label=""><defs><style>#comp-m4tyqdf1 svg [data-color="1"] {fill: #090F15;}</style></defs>
    <g>
        <path fill="#000000" d="M121.3 169.3H57.4V180h85.2v-10.7z" data-color="1"></path>
        <path fill="#000000" d="M142.6 158.7v10.6h10.6V148h-10.6z" data-color="1"></path>
        <path fill="#000000" d="M89.4 73.3v21.4h74.5v10.6h-10.7V148h10.7v-32h10.6V84H100V62.7H89.4z" data-color="1"></path>
        <path fill="#000000" d="M57.4 73.3V84H46.8V73.3z" data-color="1"></path>
        <path fill="#000000" d="M68.1 62.7V52H57.4v21.3h10.7z" data-color="1"></path>
        <path fill="#000000" d="M78.7 41.3V52H68.1V41.3z" data-color="1"></path>
        <path fill="#000000" d="M89.4 20H78.7v21.3h10.7V30.7H100V20z" data-color="1"></path>
        <path fill="#000000" d="M100 52v10.7h10.6v-32H100z" data-color="1"></path>
        <path fill="#000000" d="M46.8 137.3V84H25.5v74.7h21.3z" data-color="1"></path>
        <path fill="#000000" d="M57.4 158.7v10.7H46.8v-10.7z" data-color="1"></path>
    </g>
</svg><div id="arrows" class="text-wrap text-start ms-auto" ><h3 class="x2">DETAILED-ORIENTED STRATEGY</h3><p>This is the space to introduce visitors to the business or brand. Briefly explain who's behind it, what it does and what makes it unique. 
  Share its core values and what this site has to offer.</p></div><hr class="hr1"></div>
    <div class="box2"><svg class="icon" preserveAspectRatio="xMidYMid meet" data-bbox="20 27 160 146" viewBox="20 27 160 146" height="100" width="100" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-label=""><defs><style>#comp-m4tysnnx svg [data-color="1"] {fill: #090F15;}</style></defs>
    <g>
        <path fill="#000000" d="M150.9 41.6V27H49.1v14.6H20v43.8h14.5V56.2h14.6v29.2H34.5V100h14.6v14.6h14.5v-73h72.8v73h14.5V100h14.6V85.4h-14.6V56.2h14.6v29.2H180V41.6z" data-color="1"></path>
        <path fill="#000000" d="M78.1 114.6v14.6H63.6v-14.6z" data-color="1"></path>
        <path fill="#000000" d="M92.7 129.2H78.2v14.6h14.5v14.6H63.6V173h72.8v-14.6h-29.1v-14.6h14.5v-14.6z" data-color="1"></path>
        <path fill="#000000" d="M136.3 114.6v14.6h-14.5v-14.6z" data-color="1"></path>
    </g>
</svg><div id="arrows" class="text-wrap text-start ms-auto" ><h3 class="x2">PROVEN SUCCESS</h3><p>This is the space to introduce visitors to the business or brand. Briefly explain who's behind it, what it does and what makes it unique. 
  Share its core values and what this site has to offer.</p></div><hr class="hr1"></div>

  </div>
</section>
