<section class="container-fluid p-5">
   <div class="form1 mt-5 p-3  ms-auto bg-black text-light">
      <h2 class="pt-3 pb-3">CONNECT WITH US</h2>
      <form class="row g-3">
        <div class="col-md-6">
          <label for="firstname" class="form-label text-light">First Name *</label>
          <input type="text" class="form-control bg-black border border-light text-light" id="firstname" required>
        </div>
        <div class="col-md-6">
          <label for="lastname" class="form-label text-light">Last Name *</label>
          <input type="text" class="form-control bg-black border border-light text-light" id="lastname" required>
        </div>
        <div class="col-md-12">
          <label for="exampleInputEmail1" class="form-label">Email address *</label>
          <input type="email" class="form-control bg-black border border-light text-light" id="exampleInputEmail1" required>
        </div>
        <div class="col-md-12">
          <label for="phonenumber" class="form-label">Phone Number *</label>
          <input type="text" class="form-control bg-black border border-light text-light" id="phonenumber" required>
        </div>
        <div class="col-md-12">
          <label for="title" class="form-label">Title *</label>
          <input type="text" class="form-control bg-black border border-light text-light" id="title" required>
        </div>
        <div class="col-md-12">
          <label for="comments" class="form-label">Message</label>
          <textarea class="form-control bg-black border border-light text-light" id="comments" rows="3"></textarea>
        </div>
        <div class="col-md-12">
          <button type="submit" class="btn btn-light" style="width: 100%;">Submit</button>
        </div>
      </form>
  </div>
</section>
